<div class="card">
    <p>Usuario List Component</p>
    
    <app-usuario-detalhe
        [usuariosFilho]="usuarioSelecionado"
        (usuarioSelecionado)="onUsuarioEmitter($event)"
        (usuarioSalvarEmitter)="onUsuarioSalvarEmitter($event)">
    </app-usuario-detalhe>
    
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Email</th>
            <th>CPF</th>
            <th>Ações</th>
        </tr>
        <tr *ngFor="let u of users">
            <td>{{u.id}}</td>
            <td>{{u.nome}}</td>
            <td>{{u.email}}</td>
            <td>{{u.cpf | cpf }}</td>
            <td><button class="btn btn-info" (click)="selecionarUsuario(u)">Selecionar</button></td>
        </tr>
    </table>
</div>
