<h2>Angular 12 </h2>

<app-primeiro></app-primeiro>

<p> *** Fim do App Component *** </p>

<!-- <p>{{ empresa }}</p>
<p>{{ salario }}</p>
<p>{{ title }}</p>
<p>{{ mostrarMensagem() }}</p>
<p>{{ 1+2 }}</p> -->
<!-- 
<p><input type="text" value="{{ title }}" ></p>

<p><input type="text" #titleInput (keyup)="onKeyUp(titleInput.value)" [value]="title" ></p>

<p> {{ titleInput.value }} </p>

<p> <input type="text" [(ngModel)]="title" > </p>

<p><button (click)="meuClique()" > Clique aqui </button></p> -->

